<div class = "pages form3">
    <button class="back back3">back</button>

    <div class="container-question-right">
        <p class="N-question">question 3 / 5</p>
        <p class = 'question'>{{=question_3}}</p>
        <form>
            <label class = "1star" for = 'radio-1-poor' >
                <span></span>
                <input class = "sprite radio" value = 'poor' type='radio' name = 'question_3' id = 'radio-1-poor'></input>
            </label>
            <label class = "2star" for = 'radio-2-average' >
                <span></span>
                <input class = "sprite radio" value = 'average' type='radio' name = 'question_3' id = 'radio-2-average' ></input>
            </label>
            <label class = "3star" for = 'radio-3-good' >
                <span></span>
                <input class = "sprite radio" value = 'good' type='radio' name = 'question_3' id ='radio-3-good' = ></input>
            </label>
            <label class = "4star" for = 'radio-4-excellent' >
                <span></span>
                <input class = "sprite radio" value = 'excellent' type='radio' name = 'question_3' id = 'radio-4-excellent'></input>
            </label>
        </form>
        <button class="btn-basic3 btn-basic">next</button>
    </div>
</div>
